* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(48, 48,48)
}
/*----header-----*/
#header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: rgb(44, 44, 44);
    box-shadow: 0 1px 3px rgb(0, 0, 0);
}
.nav {
    float: left;
    height: 70px;
    margin-left: 100px;
}
.nav a {
    width: 200px;
    display: block;
    height: 70px;
    text-decoration-line: none;
}
.nav h1 {
    float: left;
    margin-left: 15px;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}
.nav img {
    float: left;
    margin-top: 20px;
}

.search {
    height: 70px;
    float: left;
}
.search input,
.search button {
    border: none;
    outline: none;
    margin-top: 20px;
}
.search input {
    float: left;
    width: 250px;
    height: 30px;
    background-color: snow;
    text-indent: 8px;
    border-radius: 6px 0 0 6px;
}
.search button {
    float: left;
    width: 40px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    color: powderblue;
    background-color: rgba(80, 80, 80, 0.9);
    cursor: pointer;
    border-radius: 0 6px 6px 0;
}
.search button:hover {
    color: whitesmoke;
}
/*----content----*/
#content {
    width: 60%;
    height: 600px;
    margin: 0 auto;
}

li {
    list-style: none;
}
.user-list {
    margin-top: 40px;
}
.user {
    width: 100%;
    height: 140px;
    margin-bottom: 2px;
    box-shadow: 0 0 4px #000;    
    background-color: rgb(37, 37, 37);
    border-radius: 2px;
}
.user:hover {
    background-color: rgb(35, 35,37);
    cursor: pointer;
}
.user-icon,
.user-icon img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.user-icon {
    margin-top: 20px;
    margin-left: 30px;
    float: left;
}
.user-content {
    margin-left: 60px;
    margin-top: 17px;
    float: left;
}
.user-name {
    font-size: 37px;
    color: #fff;
}
.user-location,
.user-email {
    font-size: 25px;;
    color: rgb(90, 90, 90)
}
.user-bye {
    float: right;
    width: 200px;
    height: 140px;
    background-color: rgb(27, 27, 27);
    border-left: 1px solid rgb(27, 27, 27);
    box-shadow: -1px 0 0px 1px rgb(17, 17, 17);
}